{% extends "base.html" %}

{% block content %}
    <h1>Upcoming Events</h1>
    <div>
        {% for event in events %}
        <div class="event">
            <h2>{{ event.name }}</h2>
            <i>{{ event.date.strftime("%b %d %Y") }}</i>
            <br>
            {% if event.recurring: %}
            This is a recurring event
            <br>
            {% endif %}
            <a href="/events/{{events.index(event)}}">View details</a>
            <hr>
        </div>
        {% endfor %}
    </div>
{% endblock  %}