{% extends "base.html" %}

{% block content %}
    <h1>Create an event</h1>
    <form action="/events" method="post">

        <label for="date">Event date:</label>
        <input type="date", name="date", id="date">
        <br>
        <label for="name">Event title:</label>
        <input type="text", name="name", id="name">
        <br>
        <label for="guests">Number of guests:</label>
        <input type="number", name="guests", id="guests">
        <br>
        <label for="location">Location:</label>
        <input type="text", name="location", id="location">
        <br>
        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="30" rows="5"></textarea>
        <br>
        <label for="recurring">Tick this box for recurring events:</label>
        <input type="checkbox", name="recurring", id="recurring">
        <br>
        <input type="submit" value="Add Event">
    </form>
{% endblock  %}